body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightskyblue;
}

/*.app-layout {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: white;
}*/

.app-layout {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}